/* Custom styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.ticket-details table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.ticket-details th, .ticket-details td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.ticket-details th {
    background-color: #f4f4f4;
}

.ticket-details img {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
}

select[name="status"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="none" stroke="currentColor" stroke-width=".5" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 10px;
}

select[name="status"] option[value="Pending"] {
    background-color: #ffeb3b;
}

select[name="status"] option[value="In Progress"] {
    background-color: #03a9f4;
}

select[name="status"] option[value="Resolved"] {
    background-color: #4caf50;
}

select[name="status"] option[value="Escalated"] {
    background-color: #f44336;
}

button[type="submit"] {
    background-color: #4CAF50;
    padding: 10px 20px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.back-button {
    background-color: rgb(234, 28, 25);
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.back-button:hover {
    background-color: #ddd;
    color: black;
}

.status-row {
    background-color: #f4f4f4;
}

.status-row select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: transparent;
}
